@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default;
}

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-playfairDisplay: "Playfair Display SC", serif;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body{
  font-family: "Playfair Display", serif;
}

.animate-fadeUp {
  animation: fadeUp 1s ease forwards;
}

.animate-fadeUp.delay-200 {
  animation-delay: 0.2s;
}

.animate-fadeUp.delay-400 {
  animation-delay: 0.4s;
}


